@font-face {
    font-family: 'armyrangers';
    src: url('../fonts/armyrangers.eot');
    src: url('../fonts/armyrangers.eot?#iefix') format('embedded-opentype'),
         url('../fonts/armyrangers.woff') format('woff'),
         url('../fonts/armyrangers.ttf') format('truetype'),
         url('../fonts/armyrangers.svg#armyrangers') format('svg');
}

@font-face {
    font-family: 'bradley';
    src: url('../fonts/bradley.eot');
    src: url('../fonts/bradley.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bradley.woff') format('woff'),
         url('../fonts/bradley.ttf') format('truetype'),
         url('../fonts/bradley.svg#bradley') format('svg');
}